*{
    margin:0;
    padding: 0;
}
body{
    background-color: #eee;
}
.firstSlide{
  overflow: hidden;
  text-transform: uppercase;
    position: relative;
    margin: 50px auto;
    width:1022px;
    height:620px;
    background: linear-gradient(to right,#fffefe,#fffefe,#fffefe);
    animation: gradient 1s forwards ease 3s;
}
.stEl{
    opacity: 0;
    transition: opacity .8s ease;
}
@font-face{
    src:url(../fonts/Montserrat-SemiBold.ttf);
    font-family: "Montserrat-SemiBold";
}
@font-face{
    src:url(../fonts/Montserrat-Medium.ttf);
    font-family: "Montserrat-Medium";
}
@font-face{
    src:url(../fonts/Montserrat-ExtraBold.ttf);
    font-family: "Montserrat-ExtraBold";
}
.mainText{
    position: absolute;
    top:61%;
    left:140%;
    width:34%;
    height: 50%;
    z-index: 2;
    font-family: Montserrat-SemiBold;
    transform: scale(2.5);
    color:grey;
    animation: left 4.5s forwards linear ,opacity .6s forwards ease 5.4s ;
    font-stretch:ultra-condensed;
 
    
}
.stand{
    font-size: 70px;
   display: flex;
   margin-bottom: 10px;
 
  font-stretch:ultra-condensed;
}
.stand::before{
content:"";
display:block;
overflow: hidden;
z-index: 4;
top:-20%;
position: absolute;
width:110%;
height: 105%;
animation: mask 2s   forwards linear 1s; 
background-color: #fffefe;
}
.openedStand,.openedStandOp{
visibility: hidden;
    position: absolute;
    top:9%;
    left:70%;
    z-index: 3;
    width:27%;
    height: 88%;
    background:  url('../img/open.gif') no-repeat center ;
    background-size:100% ;
    
}
.superStand{
    display: inline-block;
    font-size: 35px;
    z-index: 6;
    letter-spacing: -2px;
    font-stretch:ultra-condensed;
    
}
.bottomText{
    overflow: hidden;
    position:absolute;
    top:58%;
    z-index: 6;
    left:6.5%;
    font-size:50px;
    letter-spacing: -2px;
    animation:opacity .6s forwards ease 5.4s ;
    font-family: Montserrat-SemiBold;
    color:grey;

}
.bottomText>div{
    animation: textUp 1s forwards linear 4.5s;
    transform: translateY(-70px);
}
.openedStandOp{
    background:  url('../img/open-shtativ.png') no-repeat center ;
    transform: scale(1.33);
    left:72%;
    background-size:100% ; 
    animation: up 1.3s forwards linear 5.8s; 
    z-index: 4;

}
.closedStand{

    width:43%;
    height: 13%;
    z-index: 2;
    position: absolute;
    background: url('../img/closeshtativ.png') no-repeat center ;
    transform: rotate(180deg) scale(3);
    top:40%;
    animation: Stand 3s forwards linear ; 
    background-size:100% ;
    left:140%;
    
    
}
.mainText,.closedStand,.bottomText,.mainText::before{
    visibility: hidden;
    animation: none;
}
.secondSlide{
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#fffefe,#fffefe,#eee);

}
.largest{
    position: absolute;
    top:40%;
    left:25%;
    color:#FF7802;
    font-size: 40px;
    height: 60px;
    width: 390px;
}
.largest>svg{
    position:absolute;
    width: 104%;
    top:-5%;
    left: -2%;
}
.largest>span:nth-child(0){
    font-family: Montserrat-Medium;
}
.largest>span:nth-child(3){
    font-family: Montserrat-ExtraBold;
}
@keyframes up{
    0%{
        left:72%;
        transform: scale(1.33);
        top:9%
    }
    100%{
        top:65%;
        left:75%;
        transform: scale(2.5);
        
    }
}
@keyframes opacity{
0%{
    opacity: 1;
}
100%{
    opacity: 0;
}
}
@keyframes gradient{
    0%{
        background: linear-gradient(to right,#fffefe,#fffefe,#fffefe);
    }
    100%{
        background: linear-gradient(to right,#fffefe,#fffefe,#eee);
    }
}
@keyframes mask{
    0%{
        transform: rotate(0deg) ;
        top:-27%;
        left:0%;
        width:110%;
height: 105%;
    }
    55%{
        transform: rotate(45deg) ;
        top:-27%;
        left:50%;
        width:120%;
height: 100%;
    }
    99%{
        top:-50%;
        left:120%;
        transform: rotate(90deg);
        width:50%;
height: 50%;
visibility: visible;
    }
    100%{
        top:-50%;
        left:120%;
        transform: rotate(90deg);
        width:50%;
height: 50%;
       visibility: hidden;
    }
}
@keyframes left{
    0%{
        left:140%;
        transform: scale(2.5)  ;
    }
    22%{
        left:25%;
        transform: scale(2.5)  ;
    }
    55%{ 
        left:15%;
        transform: scale(1.5);
        top:61%;
    }
    100%{
        top:30%;
        left:15%; 
        transform: scale(1.5);
    }
}
@keyframes textUp{
    0%{transform: translateY(-70px);}
    100%{transform: translateY(0px);}
}

@keyframes Stand{
    0%{
        left:140%;
        transform: rotate(180deg) scale(3);
        top:40%;
    }
    33%{
        left:15%;
        transform: rotate(180deg) scale(3);
        top:40%;
    }
    66%{
        transform: rotate(230deg) scale(1.5);
        top:40%;
        left:35%;
    }
    100%{
        top:50%;
        left:60%;
        transform: rotate(270deg) scale(.70);
    }
}